img{
    width: 100%;
}
.ni{
    width: 50px;
    position: absolute;
}
.tlo{
    background-color: #c0c0c0;
    height: 80vh;
    width: 80%;
    margin: auto;
    position: relative;
    left: 0px;
    top: 0px;
}
h2,p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.count{
    font-size: 1.5em;
    color: blueviolet;
}
body{
    overflow: hidden;
    background-color: #c0c0c0;
}
