body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(238, 255, 235);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    font-size: 22pt;
    color: limegreen;
    text-shadow: 1px 1px 3px black;

}
p{
    border: 2px inset black;
    padding: 5px;
    font-size: 14 pt;


}
table{
    border-collapse: collapse;
    border: 3px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
td,th{
    border: 2px solid lightgreen;
    padding: 3px;

}
td{
    font-weight: 500px;
}
img{
    margin: 5px;
    border:5px solid gray;
}
