body{background-image: url(152.gif);  
    padding-left: 10%;
    padding-right: 10%;

}
.bg{
    background-color: gainsboro ;
    padding: 20px;
    margin: 15px;

}
img{
width: 370px;
margin: 15px;
}
.foto{
    text-align: center;
}


