.nach{
background: linear-gradient(to right bottom, #483d5f , #2a2240);;


}

button{
    background-color: #ed9619;
    font-weight: 900;
    border-radius: 20px;
    padding: 10px 20px;
    text-align: center;
    border: 0;
    color: white;
    animation: radial-pulse 1s linear 0s infinite;
 }
.info{
    display: flex;
    padding: 100px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    flex-wrap: wrap;
}
body{
    margin: 0px;
}
img{
    width: 100%;
}
.logo{
    width: 100px;
    margin-bottom: 100px;
}
.left,.right{
    width: 300px;
    flex-grow: 1;
}
.cardo{
    display: flex;
    
}
.card1{
    display: flex;
}
.ftor{
    padding: 100px;
}



@media (max-width: 991px) {  
    .nach{
        padding: 60px;
    }
}


@media (max-width: 575px) {
    .nach{
        padding: 30px;
    }
    .logo{
        margin-bottom: 40px;
    }
}
.dadada{
    margin-bottom: 100px;
}
.icon{
    margin-right: 20px;
}
.trit{
    padding: 100px;
    background-color: gainsboro;
}
.four{
    background: linear-gradient(to right bottom, #483d5f , #2a2240);;
}
.text1{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    color: white;
    
}
@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
      }

      100% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
      }
  }